/* color palette from <https://github.com/vuejs/theme> */

$btnLogin: rgb(233, 1, 1);
$btnDiscount: rgb(105, 101, 101);
$btnConfirm: rgb(236, 72, 72);

$fontPlaceholder: rgb(105, 101, 101);

$primaryFontColor: #fff;
$secondaryFontColor: #000;
$errorFontColor: rgb(204, 7, 7);

$inputFocusColor: #add8e6; 
$inputBorderFocusColor: rgb(177, 174, 174);

$marginDottedColor: #5bb6b6;
    
$primaryBgColor: rgba(126, 125, 125, 0.863);

$popupForgotPswColor: #136f8b;
